.nav {
    width: 100%;
    height: 15%;
}

.logo {
    margin-right: 60%;
    width: 60px;
}

.nav img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 5px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav ul li {
    float: right;
}

.nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
}

.nav ul li a:hover {
    color: black;
}

#formdiv,
.confirmation,
.view-four {
    display: none;
}

#home {
  background: url(../images/pizzapic.jpg);
  background-size: cover;
  height: 630px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

 .button {
    color: black;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    font-weight: bold;
}

.confirm-order {
    border: 6px solid #948473;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    text-align: center;
}

.table-buttons {
    padding-top: 3%;
    padding-bottom: 3%;
}

.button:hover {
    color: black;
}

.conbutton{
  padding: 5px;
  margin: 2px;
  align-content: center;
}

#formdiv{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  display: none;
}

#form1{
  color: white;
  padding-top: 25px;
  padding-bottom: 20px;
  align-content: center;
  text-align: center;
  background-image: url(../images/papis2.jpg);

}

#footer{
  text-align: center;
  font-size: 17px;
  padding-top: 20px;
  background-color: #A62D1C;
  color: white;
}

#rightbar{
  padding-top: 100px;
  align-content: center;
  align-items: center;
}

.buyButton{
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.order-total {
    display: none;
}
